.navbar-size {
    width: 100%;
    margin:0;
    padding-top: 0%;
    top: 0%;
    background-color: #ffffff;
    color: black;
}
.user-image-size {
    height: 56px;
    margin: 4px 0;
}
body {
    background:#663399;
    color:#ffffff;
}
.materialboxed-image {
    margin: 0 auto;
    height: 400px;
}
.click-me-button {
    background-color: #663399 ;
    margin-top: 50px;
}
.card-text {
    color:white;
    background-color: #663399;
}
